    .product {
        border: 1px solid #0062cc;
        background-color: #FF4500;
        width: 150px;
        height: 20px;
        background-position-x: 30px;
        border-radius: 20px;
        box-sizing: initial;
        box-shadow: unset;
        padding: 20px;
        margin: 10px;
        text-align: center;
        float: inline-start;
    }

    .topo {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    a.product i {
        padding-bottom: 1px;
        padding-left: 0px;
        display: inline-table;
        line-height: 20px;
        margin: 0 5px;
        text-decoration: none;
        font-size: 15px;
        text-align: center;
    }

    h1 {
        text-align: center;
        margin: 0;
        padding-top: 5px;
        font-size: 3em;
    }

    .fundo {
        background-position: center;
        height: 1000px;
        width: 100%;
        border-bottom: 3px solid rgb(14, 148, 201);
        margin-bottom: 20px;
    }

    .fas .fab .fa {
        color: #2196f3;
    }

    #teste {
        color: #2196f3;
    }

    #test2 {
        color: #2196f3;
    }

    img.profile {
        width: 70%;
        border-radius: 50% !important;
    }

    #contact {
        position: relative;
        margin-top: 0px;
    }

    .modal label {
        margin-top: 7px;
    }

    .modal label img {
        display: grid;
        margin: 7px;
        width: 14rem;

    }

    .modal label a {
        justify-items: center;
        justify-content: start;
        font-size: 20px;
        text-decoration: none;
    }

    a {
        text-decoration: none !important;
    }